2.Tworzenie strony sklepu/SportsStore/SportsStore.Domain/obj/
2.Tworzenie strony sklepu/SportsStore/SportsStore.Domain/bin/
2.Tworzenie strony sklepu/SportsStore/SportsStore.UnitTests/bin/
2.Tworzenie strony sklepu/SportsStore/SportsStore.UnitTests/obj/
2.Tworzenie strony sklepu/SportsStore/SportsStore.WebUI/obj/
2.Tworzenie strony sklepu/SportsStore/SportsStore.WebUI/bin/
3.Nawigacja/SportsStore/SportsStore.Domain/bin/
3.Nawigacja/SportsStore/SportsStore.Domain/obj/
3.Nawigacja/SportsStore/SportsStore.UnitTests/bin/
3.Nawigacja/SportsStore/SportsStore.UnitTests/obj/
3.Nawigacja/SportsStore/SportsStore.WebUI/bin/
3.Nawigacja/SportsStore/SportsStore.WebUI/obj/
